<?xml version="1.0"?>
<launch>
    <arg name="imcoder01_enable" default="true"/>
    <arg name="parent_link"      default="imcoders_link"/>

    <!-- IMcoder01 node -->
    <node pkg="RTIMUHOST" type="RTHostIMUNoQt" name="imcoder01_node" output="screen" if="$(arg imcoder01_enable)">
        <param name="path_to_settings_file" value="$(find imcoders_reader)/config/RTHostIMU_01.ini"/>
        <param name="imcoder_name"          value="imcoder01"/>
        <param name="serial_port"           value="/dev/rfcomm1"/>
        <param name="frame_id"              value="imcoder01_link"/>
        <param name="gyro_enable"           value="true"/>
        <param name="accel_enable"          value="true"/>
        <param name="compass_enable"        value="false"/>
    </node>

    <!-- IMcoder01 TF -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_$(arg parent_link)_to_imcoder01" args="0 0 0 0 0 0 $(arg parent_link) imcoder01_link" if="$(arg imcoder01_enable)"/>
</launch>